#banner {
	width:100%;
}

.principal{
	background: #4b08e6;
	padding: 20px;
}

.titulo-principal {
	padding-left: 20px;
	text-align: center;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #b3ff00;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
