#banner {
	width:100%;
}

.principal{
	background: #000000;
	padding: 20px;
}

.titulo-principal {
	padding-left: 20px;
	font-size: 60px;
	text-align: center;
	color: grey;
	background: #000000;
}

.sobre-a-banda {
	text-align: left;
	color: grey;
	
}

p {
	text-align: justify;
	color: aliceblue;
}

#missao {
	font-size: 20px;
	color: grey;
}


